<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a class="navbar-brand" href="#">ContactosApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/contactos">Contactos</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/contactos/form">Formulario</a>
    </div>
  </div>
</nav>