<div class="card border-primary mb-3">
  <div class="card-header"> Contactos</div>
  <div class="card-body" text-primary>
    <h5 class="card-title">Listado de contactos</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/contactos/form']">Crear cliente</button>
    </div>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">email</th>
          <th scope="col">Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contacto of contactos">
          <td>{{contacto.id}}</td>
          <td>{{contacto.nombre}}</td>
          <td>{{contacto.apellido}}</td>
          <td>{{contacto.email}}</td>
          <td>{{contacto.createAt}}</td>
          <td>
            <button [routerLink]="['/contactos/form',contacto.id]"><i class="fas fa-edit"></i></button>
          </td>
          <td>
              <button type="button" name="eliminar" (click)='delete(contacto)'><i class="fas fa-trash"></i></button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>